<!--<div *ngIf="isModalActive">-->
<!--  <div class="modal-card max-w-3xl mx-auto bg-white rounded shadow-lg z-10 overflow-y-auto ">-->
<!--    <header class="modal-card-head bg-gray-100 border-b p-4">-->
<!--      <p class="modal-card-title text-xl font-bold" *ngIf="feedItem">{{ feedItem.title }}</p>-->
<!--    </header>-->
<!--    <section class="modal-card-body p-4">-->
<!--      <div [innerHTML]="feedItem.content | safeHtmlPipe"></div>-->
<!--    </section>-->
<!--    <footer class="modal-card-foot bg-gray-100 border-t p-4 flex justify-end">-->
<!--      <button class="button bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" (click)="closeModal()">Close</button>-->
<!--    </footer>-->
<!--  </div>-->
<!--</div>-->
